.DS_Store
node_modules
build
bin

grails-backend/.iws
grails-backend/*Db.properties
grails-backend/*Db.script
grails-backend/.settings
grails-backend/eclipse
grails-backend/stacktrace.log
grails-backend/target
grails-backend/plugins
grails-backend/web-app/plugins
grails-backend/web-app/WEB-INF/classes
grails-backend/target-eclipse


node-java/.*

node-java/lib-cov
node-java/*.seed
node-java/*.log
node-java/*.csv
node-java/*.dat
node-java/*.out
node-java/*.pid
node-java/*.gz

node-java/pids
node-java/logs
node-java/results

node-java/node_modules
node-java/npm-debug.log

node-java/bin
node-java/.*


node-frontend/.*

node-frontend/lib-cov
node-frontend/*.seed
node-frontend/*.log
node-frontend/*.csv
node-frontend/*.dat
node-frontend/*.out
node-frontend/*.pid
node-jafrontendva/*.gz

node-frontend/pids
node-frontend/logs
node-frontend/results

node-frontend/node_modules
node-frontend/npm-debug.log